<body>
<div class="main-container">
    <div id="header_wrap" class="outer">
        <header class="inner">
            <!--<h1 id="website_title"><a href="/"><img src="/images/urdu-website.png" alt="Urdu Website"/></a></h1>-->
            <h1 id="website_title"><a href="{{ site.baseurl }}/" style="color: #fff;">Urdu Website</a></h1>
            {% if page.subtitle %}
            <h2 id="website_tagline">{{ page.subtitle }}</h2>
            {% endif %}
        </header>
    </div>
    <!-- Tabbed navigation bar -->
    <ul class="nav nav-tabs">
        <li id="home" class="active" role="presentation"><a href="{{ site.baseurl }}/">Home</a></li>
        <li id="authors" role="presentation"><a href="{{ site.baseurl }}/authors">Authors</a></li>
        <li id="books" role="presentation"><a href="{{ site.baseurl }}/books">Books</a></li>
    </ul>
